# Packages
node_modules/

#Production build
build/

#Editor/IDE Files
.vscode
.editorconfig

# Yarn files
.yarn/*
!.yarn/cach

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
.vercel
